@import 'fonts.css';
@import 'variables.css';
@import './components/header.css';


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: var(--primaryColor);
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

img {
    max-width: 100%;
}

.container {
    width: 100%;
    max-width: 1140px;
    padding: 0 15px;
    margin: 0 auto;
}

.primary__btn {
    padding: 17px 48px;
    background-color: var(--orangeColor);
    border-radius: 4px;
    max-width: max-content;
    transition: .5s;
    color: var(--black-color);
    text-align: justify;
    font-family: var(--rob);
    font-size: 14px;
    font-weight: 500;
    line-height: 12px;
}

.primary__btn:hover {
    background-color: var(--primaryColor);
    color: var(--whiteColor);
}

/*  */

.primary-section-title {
    color: var(--orangeColor);
    font-family: var(--com);
    font-size: 36px;
    font-weight: 400;
    text-transform: capitalize;
    border-bottom: 2px solid var(--orangeColor);
    max-width: max-content;
    padding-bottom: 10px;
}

.films {
    padding: 60px 0;
}

.films__cards {
    margin-top: 55px;
    display: flex;
    justify-content: space-between;
}

.films__cards-item {
    position: relative;
    max-width: max-content;
    border-radius: 6px;
}

.films__cards-item::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 6px;
    background: linear-gradient(180deg, rgba(241, 129, 40, 0.35) 0%, rgba(0, 0, 0, 0.71) 51.04%, rgba(7, 15, 25, 0.80) 100%);
}

.films__cards-item-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
}

.item-content__time {
    color: var(--whiteColor);
    font-family: var(--mon);
    font-size: 14px;
    font-weight: 400;
    line-height: 10px;
    padding: 7px 28px;
    border-radius: 9px;
    border: 1px solid #FFF;
    background: rgba(7, 15, 25, 0.20);
    margin-bottom: 30px;
    margin-top: 13px;
}

.item-content__title {
    color: var(--whiteColor);
    text-align: center;
    font-family: var(--mon);
    font-size: 22px;
    font-weight: 400;
}

.item-content__descr {
    color: var(--whiteColor);
    font-family: var(--rob);
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    margin-top: 12px;
    margin-bottom: 18px;
    max-width: 226px;
    text-align: center;
}

.trailer {
    position: relative;
    padding-top: 42px;
    padding-bottom: 80px;
    background: linear-gradient(90deg, #DEF7FF 0%, #F4FCFF 45.64%, rgba(255, 255, 255, 0.00) 100.72%);
}

.trailer__bg {
    position: absolute;
    height: 100%;
    right: 0;
    top: 0;
    z-index: -1;
}

.trailer__descr {
    color: var(--black-color);
    max-width: 558px;
    text-align: justify;
    font-family: var(--rob);
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    margin: 50px 0;
}

.collections,
.series {
    background: var(--primaryColor);
    padding: 60px 0;
}

.collections__content,
.series__content {
    display: flex;
    flex-direction: column;
}

.collections__title,
.series__title {
    margin-top: 61px;
    margin-bottom: 63px;
}

.collections__items {
    display: flex;
    justify-content: space-between;
}

.collections__item {
    position: relative;
    max-width: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.squares1 {
    position: absolute;
    top: 7px;
    left: 6px;
    max-width: 100%;
    max-height: 100%;
}

.squares2 {
    position: absolute;
    top: 7px;
    right: 6px;
    max-width: 100%;
    max-height: 100%;
}

.collections__item::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 6px;
    background: linear-gradient(180deg, rgba(241, 129, 40, 0.35) 0%, rgba(0, 0, 0, 0.71) 51.04%, rgba(7, 15, 25, 0.80) 100%);
}

.collection__item-title {
    color: #FFF;
    font-family: var(--com);
    font-size: 20px;
    font-weight: 700;
}

.collection__item-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

.series__items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 27px;
    background: url('../images/series.png') center center/cover no-repeat;
    position: relative;
    max-width: max-content;
    z-index: 5;

}
.series__items::before{
content: '';
width: 100%;
height: 100%;
position: absolute;
background: linear-gradient(180deg, rgba(241, 129, 40, 0.35) 0%, rgba(0, 0, 0, 0.71) 51.04%, rgba(7, 15, 25, 0.80) 100%);
}

.series__items h3 {
    color: #FFF;
    font-family: var(--com);
    font-size: 40px;
    font-weight: 700;
    padding-top: 96px;
    z-index: 5;
}

.series__items p {
    color: var(--whiteColor);
    text-align: center;
    font-family: var(--com);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    width: 1069px;
    height: 90px;
    z-index: 5;
}
.series__items-btn{
margin-bottom:  97px;
z-index: 5;
}
